.page {
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    text-align:center;
}

.tabs-content .tab-content.active {
    display:block;
}

.tabs-content .tab-content {
    display:none;
}